@model antiokas.Models.Video
    @using antiokas.Models

<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
            @if(Model.VideoFiles.Any(f => f.FileType == FileType.Avatar)){
            <dt>
                Avatar
            </dt>
            <dd class="col-md-offset-3">
                <img src="~/File?id=@Model.VideoFiles.First(f => f.FileType == FileType.Avatar).Id" alt="avatar" height="300" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionHouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionHouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
