@model antiokas.Models.Video
    @using antiokas.Models

<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.VideoFiles.Any(f=>f.VideoId== 1005))
        {
            <dt>
                Cover
            </dt>
            <dd>
                <img src="~/Content/images/blackpanther.jpg" alt="avatar" height="300"/>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionHouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionHouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>  
</div>
<p>
    @Html.ActionLink(
                      linkText: "Download",
                      actionName: "VideoDownload",
                      controllerName: "Download",
                      routeValues: new
                      {
                          id = Model.Id
                      },
                      htmlAttributes: null
                  )
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
