@model antiokas.Models.UploadFileModel
@{

    ViewBag.Title = "Video Upload";
    Layout = null;
}


@using (Html.BeginForm("FileUpload", "UploadDownload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.VideoFiles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.VideoFiles, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.VideoFiles, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.Action("FileDetails", "UploadDownload")

            </div>
        </div>
    </div>
}
section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
