@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secure Video Anti-Piracy System</h1>
    <p class="lead">Sevantis is a system that protects your video production from piracy and offers a distributioon platform for selling your work.</p>
    <p><a href="@Url.Action("Details","SevantisAccount")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/alien.jpg" height="300" alt="" /></a>
            <div class="inner">
                <h4>Alien 2018</h4>
                <p>Lara Croft is the fiercely independent daughter of an eccentric adventurer who vanished years earlier. Hoping to solve the mystery of her father's disappearance.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/batman.png" height="300" alt="" /></a>
            <div class="inner">
                <h4>The Batman 2018</h4>
                <p>Lara Croft is the fiercely independent daughter of an eccentric adventurer who vanished years earlier. Hoping to solve the mystery of her father's disappearance.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
                
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 1005 })" class="image fit"><img src="~/Content/images/blackpanther.jpg" height="300" alt="" /></a>
            <div class="inner">
                <h4>Black Panther 2018</h4>
                <p>Alicia Vikander is Lara Croft.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 1005 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/greatestsnowman.jpg" height="300" alt="" /></a>
            <div class="inner">
                <h4>The Greatest Showman</h4>
                <p>Lara Croft is the fiercely independent daughter of an eccentric adventurer who vanished years earlier. Hoping to solve the mystery of her father's disappearance.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/halloween.jpg" height="300" alt="" /></a>
            <div class="inner">
                <h4>Halloween</h4>
                <p>Vatican officials send a priest and a novitiate to investigate the suicide of a young nun in Romania. They soon find themselves in a fight for their lives when they encounter a demonic force that takes the shape of a nun.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/thenun.png" height="300" alt="" /></a>
            <div class="inner">
                <h4>The Nun</h4>
                <p>Vatican officials send a priest and a novitiate to investigate the suicide of a young nun in Romania. They soon find themselves in a fight for their lives when they encounter a demonic force that takes the shape of a nun.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/thepredator.jpg" height="300" alt="" /></a>
            <div class="inner">
                <h4>The Predator: Declassified</h4>
                <p>Vatican officials send a priest and a novitiate to investigate the suicide of a young nun in Romania. They soon find themselves in a fight for their lives when they encounter a demonic force that takes the shape of a nun.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <a href="@Url.Action("Details","Video",new { id = 3 })" class="image fit"><img src="~/Content/images/tomb_raider.jpg" height="300" alt="" /></a>
            <div class="inner">
                <h4>Tomb Raider</h4>
                <p>Lara Croft is the fiercely independent daughter of an eccentric adventurer who vanished years earlier. Hoping to solve the mystery of her father's disappearance.</p>
                <p><a href="@Url.Action("Details","Video",new { id = 3 })" class="btn btn-success fit">Watch</a></p>
            </div>
        </div>
    </div>
</div>